.card{
    background-color: rgba(0, 0, 0, 0.955);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    transition: all 0.5s;
    width: 20rem;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.08);
}
.card img{
    height: 30%;
    width: 100%;
}
.cardDetail{
    padding: 30px;
    height: 210px;
}
.cardDetail h3{
    color: red;
}
p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.a{
    align-items: center;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    left: 30%;
    padding: 10px;
    top: 70%;
}
.link:hover{
    background-color: rgb(255, 203, 107);
    text-align: center;
    font-weight: bold;

}
.link{
    background-color: orange;
    border-radius: 15px;
    color: black;
    padding: 15px;
    text-align: center;
}